# Predicting Tax Value for Single Family Homes

by Braeden Wright
03-30-2022

## Project Goal

- Find the key drivers of property value for single family properties and construct an ML Regression model that will predict property tax assessed values (tax_value) for those homes.

## Project Description

- TBD

## Initial Questions

- Does more square footage always lead to a larger tax value?
- Would the year the house was built positively or negatively affect tax value?
- TBD

## Data Dictionary



# Imports

In [1]:
# Foundation
import pandas as pd
import numpy as np
from scipy import math

# Visuals
import matplotlib.pyplot as plt
import seaborn as sns


# Metric and Modeling Tools
import sklearn.linear_model
import sklearn.feature_selection
import sklearn.preprocessing
from sklearn.linear_model import LogisticRegression

# Custom
import wrangle_prep as wp
import explore as ep


# Required Data
df = wp.wrangle_zillow()
df.head(3)

Reading cleaned data from csv file...

   bedrooms  bathrooms  sqr_feet  tax_value  year_built  fips
0       4.0        2.0    3633.0   296425.0        2005  6037
1       3.0        2.0    1222.0   290492.0        1951  6037
2       3.0        2.5    1821.0   537949.0        2013  6059

In [3]:
df.year_built = df.year_built.astype(object)
df.fips = df.fips.astype(object)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1355481 entries, 0 to 1355480
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   bedrooms    1355481 non-null  float64
 1   bathrooms   1355481 non-null  float64
 2   sqr_feet    1355481 non-null  float64
 3   tax_value   1355481 non-null  float64
 4   year_built  1355481 non-null  object
 5   fips        1355481 non-null  object
dtypes: float64(4), object(2)
memory usage: 62.0+ MB